<h1>Sign up</h1>
<%=form_for @user, url: signup_path do |t|%>

<%=render "shared/error_messages", object: t.object%>

<%=t.label :name%>
<%=t.text_field :name%>
<%=t.label :email%>
<%=t.email_field :email%>

<%=t.submit "Sign up!"%>

<% end %>